@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || Css Variable  */
:root {
  --LINEAR-COLOR-one: blue;
  --LINEAR-COLOR-two: rgb(21, 21, 97);
  --BUTTON-COLOR: purple;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  overflow-y: hidden;
}

/* || Container  */
.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* || Left_panel */
.left_panel {
  min-width: 50%;
  min-height: 100%;
  background-color: var(--LINEAR-COLOR-one);
  background: linear-gradient(
    to left,
    var(--LINEAR-COLOR-one),
    var(--LINEAR-COLOR-two)
  );
}

.left_panel__title,
.left_panel__description {
  color: #fff;
  text-align: center;
}

.left_panel__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 1rem 1rem 1rem;
  padding-top: 0;
}

.left_panel__description {
  font-size: 1rem;
}

.lock_img {
  display: block;
  margin: 100px auto;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* || right_panel */
.right_panel {
  padding: 50px 100px;
}

.right_panel__heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bolder;
}

.right_panel__description {
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: 800;
}

/* || form part  */
input[type="text"] {
  border: 1px solid black;
  padding: 0.7rem 10rem 0.7rem 0.7rem;
  margin: 0.4rem 1.5rem 0px 0px;
  border-radius: 5px;
}

.form__heading {
  padding-top: 1rem;
  font-size: 1.3rem;
}

.form__heading--password {
  padding-top: 2rem;
}

/* || checkbox part  */

.checkbox {
  display: flex;
  justify-content: space-between;
  gap: 15rem;
}

input[type="checkbox"] {
  margin-top: 2.5rem;
  font-weight: bolder;
}

a[href="#"] {
  margin-top: 2.5rem;
  font-size: 0.6rem;
  text-decoration: none;
}

/* || login button part*/

.login {
  display: block;
  margin: 1rem auto 0 auto;
  padding: 1rem 10rem;
  background:
    linear-gradient(to left, var(--LINEAR-COLOR-one)), var(--BUTTON-COLOR);
  color: white;
  font-size: 1rem;
  border-radius: 5px;
}

.login:hover {
  display: block;
  margin: 1rem auto 0 auto;
  padding: 1rem 10rem;
  background: linear-gradient(
    to left,
    rgb(0, 0, 255, 0.5),
    var(--BUTTON-COLOR)
  );
  color: white;
  font-size: 1rem;
  border-radius: 5px;
}

/* || option text part */
.text {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

/* || options*/

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  margin: 2rem;
}

.option__Google,
.option__Github {
  display: flex;
  gap: 7px;
}

.option a {
  text-decoration: none;
}

/* || footer part */
footer {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 300;
}

footer a {
  text-decoration: none;
}

/*----------------------------------------*/

/* || RESPONSIVE DESIGNS------>> */

@media screen and (max-width: 480px) {
  html {
    overflow-y: auto;
  }

  /* || Container  */
  .container {
    display: flex;
    flex-direction: column;
  }

  /* ||Left panel */
  .left_panel {
    background: linear-gradient(
      to left,
      var(--LINEAR-COLOR-one),
      var(--LINEAR-COLOR-two)
    );
  }

  .lock_img {
    display: flex;
    width: 180px;
    height: auto;
    margin: 20px 10px 0 30%;
  }

  .left_panel__title {
    font-size: 1.5rem;
  }

  .left_panel__description {
    font-size: 0.9rem;
    text-align: center;
    padding: 0 1rem 1rem 1rem;
    font-weight: 500;
  }

  /* || RIGHT PANEL  */
  .right_panel {
    margin: 0;
    padding: 1rem 0 0 1rem;
  }

  .right_panel__heading {
    font-size: 2rem;
  }

  .right_panel__description {
    font-size: 1rem;
    margin-bottom: 0;
    padding-bottom: 0.7rem;
  }

  /* || Form  */
  input[type="text"] {
    padding: 0.7rem 5rem 0.7rem 0.7rem;
    margin: 0.4rem 0rem 0px 0px;
  }

  .form__heading {
    font-size: 1rem;
  }

  .form__heading--password {
    margin-top: 0;
    padding-top: 10px;
  }

  /* || Checkbox  */
  .checkbox {
    display: flex;
    gap: 1rem;
  }

  input[type="checkbox"] {
    font-size: 0.3rem;
    margin-top: 1rem;
    padding-left: 0;
  }

  .remember {
    margin: 0;
  }

  a[href="#"] {
    font-size: 0.5rem;
    margin-top: 1rem;
  }

  /* || Login button  */
  .login {
    display: block;
    margin: 1rem auto 5px auto;
    padding: 0.6rem 2.5rem;
    background: linear-gradient(
      to left,
      var(--LINEAR-COLOR-one),
      var(--BUTTON-COLOR)
    );
    font-weight: 500;
  }

  .login:hover {
    display: block;
    margin: 1rem auto 5px auto;
    padding: 0.6rem 2.5rem;
    background: linear-gradient(
      to left,
      rgb(0, 0, 255, 0.5),
      var(--BUTTON-COLOR)
    );
    font-weight: 500;
  }

  /* || Option  */
  .option {
    gap: 2rem;
    margin: 1.5rem 0;
  }

  /* || Footer  */
  footer {
    margin: 20px 0 5px 0;
    font-size: 10px;
  }
}

@media screen and (max-width: 320px) {
  /* || RESET  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* || Container  */
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* || Left panel  */
  .left_panel {
    /* width: 100%; */
    min-width: 100%;
    min-height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to left,
      var(--LINEAR-COLOR-one),
      var(--LINEAR-COLOR-two)
    );
  }

  .lock_img {
    margin: 20px 10px 0 10px;
  }

  .left_panel__title {
    margin: 0 0 5px 0;
  }
  .left_panel__description {
    margin: 0 0 5px 0;
    padding: 1rem;
    font-weight: 700;
  }

  /* || RIGHT PANEL  */
  .right_panel {
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 1rem 0 0 1rem;
  }

  .right_panel__heading {
    font-size: 1.5rem;
    margin-bottom: 5px;
    padding-top: 10px;
  }

  .right_panel__description {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
  }

  /* || Form  */
  input[type="text"] {
    padding: 0.3rem 5rem 0.3rem 0.3rem;
    margin: 0.3rem 0rem 0px 0px;
  }

  .form__heading {
    font-size: 0.7rem;
    padding-top: 2px;
  }

  .form__heading--password {
    margin-top: 0;
    padding-top: 10px;
  }

  /* || Checkbox  */
  .checkbox {
    display: flex;
    gap: 1rem;
  }

  input[type="checkbox"] {
    font-size: 0.3rem;
    margin: 10px 0 5px 0;
    padding-left: 0;
  }

  a[href="#"] {
    font-size: 0.5rem;
    margin: 10px 0 5px 0;
  }

  /* || Login button  */
  .login {
    display: block;
    margin: 1rem auto 5px auto;
    padding: 0.4rem 3rem;
    border-radius: 10px;
    font-weight: 700;
    background: linear-gradient(
      to left,
      var(--LINEAR-COLOR-one),
      var(--BUTTON-COLOR)
    );
  }

  .login:hover {
    display: block;
    margin: 1rem auto 5px auto;
    padding: 0.4rem 3rem;
    border-radius: 10px;
    font-weight: 700;
    background: linear-gradient(
      to left,
      rgb(0, 0, 255, 0.5),
      var(--BUTTON-COLOR)
    );
  }

  /* || Option text  */
  .text {
    font-size: 0.7rem;
  }

  /* || Option  */
  .option {
    gap: 2rem;
    margin: 0.8rem 0 0 0;
    font-size: 0.7rem;
    font-weight: 900;
  }

  /* || Footer  */
  footer {
    margin: 2px 0 5px 0;
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  * {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    overflow: auto;
  }

  /* || Container  */
  .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 100dvh;
  }

  .container > * {
    min-height: 0;
  }

  /* ||Left panel */
  .left_panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    background: linear-gradient(
      to left,
      var(--LINEAR-COLOR-one),
      var(--LINEAR-COLOR-two)
    );
    min-height: 0;
  }

  .lock_img {
    max-width: 320px;
    width: 80%;
    height: auto;
    object-fit: contain;
  }

  .left_panel__title {
    font-size: 1.5rem;
  }

  .left_panel__description {
    font-size: 0.9rem;
    text-align: center;
    padding: 0 1rem 1rem 1rem;
    font-weight: 500;
  }

  /* || RIGHT PANEL  */
  .right_panel {
    margin: 0;
    padding: 2rem 0 0 3rem;
    align-items: flex-start;
    min-width: 0;
    min-height: 0;
    flex: 1;
  }

  .right_panel__heading {
    font-size: 2.5rem;
  }

  .right_panel__description {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    font-weight: 600;
  }

  /* || Form  */
  input[type="text"] {
    width: 100%;
    max-width: 420px;
    padding: 0.7rem 1rem;
    box-sizing: border-box;
  }

  .form__heading {
    font-size: 1.5rem;
  }
  .form__flex {
    flex-direction: column;
    gap: 1.5rem;
  }

  .form__flex div {
    width: 100%;
  }

  .form__flex input {
    width: 100%;
    box-sizing: border-box;
  }

  /* || Checkbox  */
  .checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center; /* important */
    flex-wrap: nowrap; /* prevents breaking */
    gap: 10px;
  }

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }

  .remember {
    margin: 0;
    font-size: 1rem;
  }

  a[href="#"] {
    font-size: 0.7rem;
    margin-top: 1rem;
  }

  /* || Login button  */
  .login {
    display: block;
    margin: 1rem auto 10px auto;
    padding: 0.6rem 6rem;
    background: linear-gradient(
      to left,
      var(--LINEAR-COLOR-one),
      var(--BUTTON-COLOR)
    );
    font-weight: 500;
    font-size: 1.3rem;
  }

  .login:hover {
    display: block;
    margin: 1rem auto 10px auto;
    padding: 0.6rem 6rem;
    background: linear-gradient(
      to left,
      rgb(0, 0, 255, 0.5),
      var(--BUTTON-COLOR)
    );
    font-weight: 500;
    font-size: 1.3rem;
  }

  /* || Option  */
  .option {
    gap: 2rem;
    margin: 1.5rem 0;
  }

  /* || Footer  */
  footer {
    margin: 20px 0 5px 0;
    font-size: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  * {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    overflow: auto;
  }

  /* || Container  */
  .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 100dvh;
  }

  .container > * {
    min-height: 0;
  }

  /* ||Left panel */
  .left_panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    background: linear-gradient(
      to left,
      var(--LINEAR-COLOR-one),
      var(--LINEAR-COLOR-two)
    );
    min-height: 0;
  }

  .lock_img {
    max-width: 320px;
    width: 80%;
    height: auto;
    object-fit: contain;
  }

  .left_panel__title {
    font-size: 1.5rem;
  }

  .left_panel__description {
    font-size: 0.9rem;
    text-align: center;
    padding: 0 1rem 1rem 1rem;
    font-weight: 500;
  }

  /* || RIGHT PANEL  */
  .right_panel {
    margin: 0;
    padding: 2rem 0 0 2.5rem;
    align-items: flex-start;
    min-width: 0;
    min-height: 0;
    flex: 1;
  }

  .right_panel__heading {
    font-size: 2.5rem;
  }

  .right_panel__description {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    font-weight: 600;
  }

  /* || Form  */
  input[type="text"] {
    width: 100%;
    max-width: 420px;
    padding: 0.7rem 1rem;
    box-sizing: border-box;
  }

  .form__heading {
    font-size: 1.5rem;
  }
  .form__flex {
    flex-direction: column;
    gap: 1.5rem;
  }

  .form__flex div {
    width: 100%;
  }

  .form__flex input {
    width: 100%;
    box-sizing: border-box;
  }

  /* || Checkbox  */
  .checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center; /* important */
    flex-wrap: nowrap; /* prevents breaking */
    gap: 10px;
  }

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }

  .remember {
    margin: 0;
    font-size: 1rem;
  }

  a[href="#"] {
    font-size: 0.7rem;
    margin-top: 1rem;
  }

  /* || Login button  */
  .login {
    display: block;
    margin: 1rem auto 10px auto;
    padding: 0.6rem 6rem;
    background: linear-gradient(
      to left,
      var(--LINEAR-COLOR-one),
      var(--BUTTON-COLOR)
    );
    font-weight: 500;
    font-size: 1.3rem;
  }

  .login:hover {
    display: block;
    margin: 1rem auto 10px auto;
    padding: 0.6rem 6rem;
    background: linear-gradient(
      to left,
      rgb(0, 0, 255, 0.5),
      var(--BUTTON-COLOR)
    );
    font-weight: 500;
    font-size: 1.3rem;
  }

  /* || Option  */
  .option {
    gap: 2rem;
    margin: 1.5rem 0;
  }

  /* || Footer  */
  footer {
    margin: 20px 0 5px 0;
    font-size: 1rem;
  }
}
